[submodule "sancus-support"]
	path = sancus-support
	url = git@github.com:sancus-pma/sancus-support.git
[submodule "sancus-compiler"]
	path = sancus-compiler
	url = git@github.com:sancus-pma/sancus-compiler.git
[submodule "sancus-core"]
	path = sancus-core
	url = git@github.com:sancus-pma/sancus-core.git
[submodule "clang"]
	path = clang
	url = http://llvm.org/git/clang.git
